template(name='layout1')
  +View size='[undefined, undefined]'
    +View size='[50, 30]' size='[50, 30]' align='[0, 1]' origin='[0, 1]' translate='[10, -10, 100]'
      +Surface id='slideCpt' align='[.5, .5]' origin='[.5, .5]'
        .slide-cpt= slideCpt
    +RenderController size='[undefined, undefined]' transition=getTransition
      +HeaderFooterLayout size='[undefined, undefined]'
        +Surface size='[undefined, 80]' target='header'
          h2 UserAccounts - MIM 2014
        +View proportions='[0.6, 0.6]' align='[.05, .35]' origin='[.0, .5]' target='content'
          +yield
        +Surface proportions='[0.25, 1.0]' align='[.70, .5]' origin='[.0, .5]' class="atDisplay" target='content'
          +atForm
        +Surface proportions='[0.27, 0.1]' align='[.69, .0]' origin='[.0, .5]' target='content'
          +atState
        +Surface size='[undefined, 50]' target='footer'
          p @Splendido
