template(name='at1')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 UserAccounts
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      h1 What's that?!
      .ui.left.aligned.bulleted.massive.list
        .item A Meteor Organization
        .item A GitHub Organization
      h1 What can you get from it?
      .ui.left.aligned.bulleted.massive.list
        .item A suite of packages packages for Meteor JS
        .item UI Templates to easily manage user login/registration/logout operations
        .item fully configurable appearance and behaviour
