template(name='at1')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 UserAccounts
    +Surface proportions='[0.7, 0.4]' align='[.5, .23]' origin='[.5, .5]' target='content'
      //
        h1 What's that?!
        .ui.segment
          .ui.left.aligned.bulleted.massive.list
            .item A Meteor Organization
            .item A GitHub Organization
      .ui.piled.feed.segment
        h1.ui.header
          | What's that?!
        .ui.center.aligned.two.column.grid
          .column
            .ui.feed.basic.segment  
              .event
                .label
                  img.small.circular.ui.image(src="/icons/meteor_neg.png")
                .content
                  .summary
                    | A Meteor Organization
          .column
            .ui.feed.basic.segment  
              .event
                .label
                  i.circular.github.alternate.icon
                .content
                  .summary
                    | A GitHub Organization
    +Surface proportions='[0.7, 0.4]' align='[.5, .68]' origin='[.5, .5]' target='content'
      //
        h1 What can you get from it?
        .ui.left.aligned.bulleted.massive.list
          .item A suite of packages packages for Meteor JS
          .item UI Templates to easily manage user login/registration/logout operations
          .item fully configurable appearance and behaviour
      .ui.piled.feed.segment
        h1.ui.header
          | What can you get from it?
        .event
          .label
            i.circular.gift.icon
          .content
            .summary
              | A suite of packages for Meteor JS
        .event
          .label
            i.circular.magic.icon
          .content
            .summary
              | UI Templates to easily manage user login/registration/logout operations
        .event
          .label
            i.circular.photo.icon
          .content
            .summary
              | Fully configurable appearance and behaviour
    +Surface size='[undefined, 50]' target='footer'
      p @splendido
