template(name='at2')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 80]' target='header'
      h2 UserAccounts - UserAccounts
    +Surface proportions='[0.7, 0.4]' align='[.5, .3]' origin='[.5, .5]' target='content'
      .ui.piled.feed.segment
        h1.ui.header
          | Rationale
        .event
          .label
            i.circular.lightbulb.icon
          .content
            .summary
              | the logic behind the templates is always the same...
        .event
          .label
            i.circular.dashboard.icon
          .content
            .summary
              | ...but different front-end framework could be used for different applications
    +Surface proportions='[0.75, 0.4]' align='[.5, .8]' origin='[.5, .5]' target='content'
      h1.ui.red.header
        | Why the logic should be rewritten when only the HTML is different?!?!
    +Surface size='[undefined, 50]' target='footer'
      p @splendido