template(name='at2')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 UserAccounts - UserAccounts
    +Surface size='[900, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      h1 Why?!
      .ui.left.aligned.bulleted.massive.list
        .item ...the logic behind the templates never changes
        .item ...different front-end framework could be used for different applications
    +Surface size='[900, undefined]' align='[.5, .7]' origin='[.5, .5]' target='content'
      h1 Why the logic should be rewritten everytime some html need be?!?!
    +Surface size='[undefined, 50]' target='footer'
      p @splendido
