template(name='at3')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 80]' target='header'
      h2 UserAccounts - Frameworks
    +Surface proportions='[.9, undefined]' align='[.5, .5]' origin='[.5, .5]' target='content'
      h1 Currently Available Front-End Frameworks
    +Surface proportions='[.9, undefined]' align='[.5, .65]' origin='[.5, .5]' target='content'
      .ui.four.items
        .item
          .image
            img(src='/imgs/sign-in-bootstrap.png')
          .content
            .name
              a(href="http://getbootstrap.com/") Twitter Bootstrap
            p.description
              | useraccounts:bootstrap
        .item
          .image
            img(src='/imgs/sign-in-semantic.png')
          .content
            .name
              a(href="http://semantic-ui.com/") Semantic-UI
            p.description
              | useraccounts:semantic-ui
        .item
          .image
            img(src='/imgs/sign-in-foundation.png')
          .content
            .name
              a(href="http://foundation.zurb.com/") Zurb Foundation
            p.description
              | useraccounts:foundation
        .item
          .image
            img(src='/imgs/sign-in-telescope.png')
          .content
            .name Unstyled
            p.description
              | useraccounts:unstyled
            .extra
              | see it on
              a(href="http://www.telesc.pe/") telesc.pe
    +Surface proportions='[.9, .2]' align='[.5, .92]' origin='[.5, .5]' target='content'
      h2
        | Plus a 'plugin' package to get template components wrapped for
        a(href="http://famo.us/") Famo.us
        | !
    +Surface proportions='[.9, .2]' align='[.5, .92]' origin='[.5, .2]' target='content'
        p useraccounts:famous-wrapper
    +Surface size='[undefined, 50]' target='footer'
      p @splendido