template(name='behaviour')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 80]' target='header'
      h2 UserAccounts - Configuration
    +View proportions='[0.6, 0.6]' align='[.05, .35]' origin='[.0, .5]' target='content'
      +Surface proportions='[1.0, 0.4]'
        h1 Behaviour Configuration
        .ui.left.aligned.secondary.inverted.segment
          each booleanOpts
            +atBooleanOpt
          each textOpts
            +atTextOpt
      +Surface proportions='[1.0, 0.35]' align='[.0, .9]' origin='[.0, .0]'
        +prism language='javascript' class='line-numbers'
          | {{confCode}}
    +Surface proportions='[0.25, 1.0]' align='[.70, .5]' origin='[.0, .5]' class="atDisplay" target='content'
      +atForm
    +Surface proportions='[0.27, 0.1]' align='[.69, .0]' origin='[.0, .5]' target='content'
      +atState
    +Surface size='[undefined, 50]' target='footer'
      p @splendido
