template(name='behaviour')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 80]' target='header'
      h2 UserAccounts - Configuration
    +View proportions='[0.6, 0.6]' align='[.05, .35]' origin='[.0, .5]' target='content'
      +Surface proportions='[1.0, 0.4]'
        h1 Behaviour
        .ui.left.aligned.secondary.inverted.segment
          .ui.two.column.grid
            each options
              .column
                +UI.dynamic template=templateName
      +Surface proportions='[1.0, 0.35]' align='[.0, .9]' origin='[.0, .0]'
        +prism language='javascript' class='line-numbers'
          | {{confCode}}
    +Surface proportions='[0.25, 0.95]' align='[.70, .05]' origin='[.0, .0]' class="atDisplay" target='content'
      #atFormDiv
        +atForm
    +Surface proportions='[0.25, 0.10]' align='[.70, .05]' origin='[.0, .5]' translate='[0,0,1]' target='content'
      +atState
    +Surface size='[undefined, 50]' target='footer'
      p @splendido
