template(name='contribs')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 80]' target='header'
      h2 UseAccounts
    +Surface proportions='[0.75, .9]' align='[.5, .45]' origin='[.5, .5]' target='content'
      h1 A Big Thank You to all contributors:
      p &nbsp;
      p &nbsp;
      .ui.center.aligned.five.column.relaxed.grid
        each contrib_rows
          .row
            each contributors
              .column
                  .item
                    img.gravatar_small(src='{{avatar_url}}')
                    .content
                      .header
                        a(href='{{html_url}}') {{login}}
    +Surface size='[undefined, 50]' target='footer'
      p @splendido