template(name='i18n')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 80]' target='header'
      h2 UserAccounts - i18n
    +View proportions='[0.625, 0.8]' align='[.025, .5]' origin='[.0, .5]' target='content'
      +Surface proportions='[0.9, 0.6]' align='[.02, .0]' origin='[.0, .0]'
        .ui.piled.feed.segment
          h1.ui.header
            | Internationalization
          .event
            .label
              i.star.icon
            .content
              .summary
                | thanks to the package
                a(href="https://atmospherejs.com/softwarerero/accounts-t9n") accounts-t9n
                | by
                a(href="https://github.com/softwarerero") @softwarerero
          .event
            .label
              i.unmute.icon
            .content
              .summary
                | UserAccounts speaks
                strong 20+
                | different languages!
          .event
            .label
              i.exclamation.icon
            .content
              .summary
                | ...all reactively selectable!
      +Surface proportions='[0.9, 0.2]' align='[.02, .75]' origin='[.0, .0]'
        +i18nbuttons
    +Surface proportions='[0.36, 1.0]' align='[.63, .02]' origin='[.0, .0]' class="atDisplay" target='content'
      #atFormDiv
        +atForm
    +Surface proportions='[0.36, 0.10]' align='[.63, .02]' origin='[.0, .5]' translate='[0,0,1]' target='content'
      +atState
    +Surface size='[undefined, 40]' target='footer'
      p @splendido

template(name="i18nbuttons")
  .five.fluid.ui.buttons
    each languages
      .ui.button(class="{{active}}") {{lang}}