template(name='i18n')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 UserAccounts - i18n
    +View proportions='[0.6, 0.8]' align='[.05, .45]' origin='[.0, .5]' target='content'
      +Surface proportions='[0.9, 0.6]' align='[.05, .0]' origin='[.0, .0]'
        .ui.piled.feed.segment
          h2.ui.header
            | Internationalization
          .event
            .label
              i.star.icon
            .content
              .summary
                | thanks to the package
                a(href="https://atmospherejs.com/softwarerero/accounts-t9n") accounts-t9n
          .event
            .label
              i.unmute.icon
            .content
              .summary
                | UserAccounts speaks
                strong 20+
                | different languages!
          .event
            .label
              i.exclamation.icon
            .content
              .summary
                | ...all reactively selectable!
      +Surface proportions='[0.9, 0.2]' align='[.05, .9]' origin='[.0, .0]'
        .five.fluid.ui.buttons
          .ui.button One
          .or
          .ui.button Two
          .or
          .ui.button Three
          .or
          .ui.button Four
          .or
          .ui.button Five
    +Surface proportions='[0.25, 0.95]' align='[.70, .05]' origin='[.0, .0]' class="atDisplay" target='content'
      #atFormDiv
        +atForm
    +Surface proportions='[0.25, 0.10]' align='[.70, .05]' origin='[.0, .5]' target='content'
      +atState
    +Surface size='[undefined, 50]' target='footer'
      p @splendido