template(name='templates')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 80]' target='header'
      h2 UserAccounts - Templates
    +View proportions='[0.6, 0.8]' align='[.05, .35]' origin='[.0, .4]' target='content'
      +Surface proportions='[0.65, 0.4]' align='[.20, .25]' origin='[.0, .5]'
        h1.ui.right.aligned.header atForm
          i.long.arrow.right.icon
        .ui.left.aligned.bulleted.massive.list
          .item one signle template to rule them all!
          .item reactive internal states
          .item Blaze fast!
      +Surface proportions='[0.8, 0.2]' align='[.21, .55]' origin='[.0, .0]'
        h1 atNavButton
          i.long.arrow.down.icon
      +Surface proportions='[0.8, 0.1]' align='[.05, .73]' origin='[.0, .0]'
        .ui.fixed.transparent.inverted.main.menu
          .right.menu
            +atNavButton
      +Surface proportions='[0.8, 0.4]' align='[.15, .85]' origin='[.0, .0]'
        .ui.left.aligned.bulleted.massive.list
          .item still at experimental stage
          .item to be used inside navbars only!
          .item changes reactively based on `Meteor.user()`
          .item provides login / logout shortucts
    +Surface proportions='[0.36, 1.0]' align='[.63, .02]' origin='[.0, .0]' class="atDisplay" target='content'
      #atFormDiv
        +atForm
    +Surface proportions='[0.36, 0.10]' align='[.63, .02]' origin='[.0, .5]' translate='[0,0,1]' target='content'
      +atState
    +Surface size='[undefined, 40]' target='footer'
      p @splendido