template(name='texts')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 80]' target='header'
      h2 UserAccounts - Configuration
    +View proportions='[0.65, 1.0]' align='[.015, .05]' origin='[.0, .0]' target='content'
      +Surface proportions='[1.0, 0.4]' translate='[0,0,1]'
        +textsOptions
      +Surface proportions='[1.0, 0.8]' align='[.0, .25]' origin='[.0, .0]' translate='[0,0,-1]'
        +prism language='javascript' class='line-numbers big'
          | {{confCode}}
    +Surface proportions='[0.3, 0.95]' align='[.68, .05]' origin='[.0, .0]' class="atDisplay" target='content'
      #atFormDiv
        +atForm
    +Surface proportions='[0.3, 0.10]' align='[.68, .05]' origin='[.0, .5]' translate='[0,0,1]' target='content'
      +atState
    +Surface size='[undefined, 50]' target='footer'
      p @splendido

template(name="textsButtons")
  .seven.fluid.mini.ui.buttons
    each optGroups
      .ui.button(class="{{active}}") {{name}}

template(name='textsOptions')
  .ui.left.aligned.piled.segment.atOptions
    h1.ui.center.aligned.header
      | Texts
    p
      a(href="https://github.com/softwarerero/meteor-accounts-t9n/blob/master/t9n/en.coffee") accounts-t9n keys
      | are valid values!
    +textsButtons
    .ui.two.column.grid.options
      each options
        .column
          +UI.dynamic template=templateName