template(name='title')
  +HeaderFooterLayout size='[undefined, undefined]'
    +Surface size='[undefined, 100]' target='header'
      h2 Meteor Day - MIM 2014
    +Surface proportions='[1.0, .01]' align='[.5, .2]' origin='[.5, .5]' target='content'
      h1 UserAccounts
    +Surface proportions='[1.0, .02]' align='[.5, .325]' origin='[.5, .5]' class='bgLightGray' target='content'
      div
    +Surface proportions='[1.0, .04]' align='[.5, .375]' origin='[.5, .5]' class='bgDarkGray'  target='content'
      div
    +Surface proportions='[1.0, .01]' align='[.5, .4]' origin='[.5, .5]' target='content'
      h1 Meteor JS
    +Surface proportions='[1.0, .01]' align='[.5, .6]' origin='[.5, .5]' target='content'
      h2 Torino - November 6, 2014
    +Surface size='[undefined, 70]' target='footer'
      p @splendido : Luca Mussi
